<div class="container text-center p-3 my-3">
    <div class="row">
        <div class="col border p-3 my-3">
            <h1>MEAN Authentication App</h1>
            <p class="lead">Welcome to this custom MEAN authentication application built from scratch.</p>
            <div class="container">
                <a class="btn btn-primary m-1" role="button" [routerLink]="['/register']">Register</a>
                <a class="btn btn-primary m-1" role="button" [routerLink]="['/login']">Login</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Express Backend</h3>
            <p>A rock solid node.js/Express server using MongoDB/Mongoose to organize models and query the database.</p>
        </div>
        <div class="col">
            <h3>Angular Frontend</h3>
            <p>Angular-CLI to generate components, services and more. Local development server and easy compilation.</p>
        </div>
        <div class="col">
            <h3>JWT Authentication</h3>
            <p>Full featured authentication using JSON web tokens. Login and store user data.</p>
        </div>
    </div>
</div>